
h1{
    text-align: center;
}
form{
    margin: auto;
    border: 2px solid #04444d;
    background-color: #d6f6fa;
    max-width: 40%;
    font:1em sans-serif;

    
}
p>label{
    display: block;
}
input[type="text"],
input[type="email"],
input[type="number"],
textarea,fieldset{
    width: 95%;
    border: 1px solid #333;
    box-sizing: border-box;
    margin: auto;
}
fieldset,p{
    margin-left: 1rem;
}
input:invalid{
   /* border: 2px dashed red;*/
   box-shadow: 0 0 5px 1px red;
}
input:focus:invalid{
    box-shadow: none;
}
input:invalid:required{
    background-image: linear-gradient(to right,pink,lightgreen);
}
input:valid{
    border:2px solid black;
}